# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Temporary data directory
temp_onedrive_data/
**/temp_onedrive_data/

# Local development
.idea/
.vscode/
.DS_Store

# Virtual environment
venv/
ENV/

# Downloaded data
/stiahnute_zakony/
/backup/
/data/
